In [1]:

import sys

# Insert at 1, 0 is the script path (or '' in REPL)
sys.path.insert(1, '../py')
import choropleth_utils

In [2]:

%run ../load_magic/storage.py
%pprint
s = Storage()

Pretty printing has been turned OFF


----
# Correct the Eurasia dataset on some premade choropleth functions

In [9]:

eurasia_df = s.load_object('eurasia_df')
columns_list = ['country_name', 'country_region', 'wikipedia_title', 'state_equivalent_gdp', 'country_code',
                'pwrindx_rank', 'short_form_name', 'pwrindx_score']
eurasia_df[columns_list].sort_values(['pwrindx_score'], ascending=[False])

,country_name,country_region,wikipedia_title,state_equivalent_gdp,country_code,pwrindx_rank,short_form_name,pwrindx_score
23,Iceland,Europe,Iceland,Vermont,IS,142.0,ICE,78.6623
64,Bhutan,Asia,Bhutan,Vermont,BT,141.0,BUT,35.8958
4,North Macedonia,Europe,North Macedonia,Vermont,MK,135.0,MAC,5.7275
0,Montenegro,Europe,Montenegro,Vermont,ME,132.0,MTN,4.8015
33,Luxembourg,Europe,Luxembourg,Maine,LU,129.0,LUX,4.4489
...,...,...,...,...,...,...,...,...
61,India,Asia,India,Texas,IN,4.0,IND,0.0979
77,China,Asia,China,California,CN,3.0,CHN,0.0511
37,Russian Federation,NaN,Russia,Florida,RU,2.0,RUS,0.0501
72,Brunei Darussalam,NaN,Brunei,Vermont,BN,NaN,NaN,NaN
75,Papua New Guinea,Oceania,Papua New Guinea,Vermont,PG,NaN,NaN,NaN

In [17]:

import math

mask_series = (eurasia_df.pwrindx_score < 100)
list(map(lambda x: 3 + math.log(x), eurasia_df[mask_series].pwrindx_score.tolist()))

[4.56892836909589, 3.667111166009104, 2.996192761657046, 2.9922702019380587, 4.7452791353455135, 4.3934685648678915, 4.0993786615960115, 3.535498723970875, 3.9755779892290257, 3.822331638940771, 1.8809809015542276, 2.7922375507240926, 3.9477506384924275, 1.2857569731997733, 2.1274868904717326, 2.960947272736299, 2.515654009038388, 2.8530069762593397, 2.4787872833475224, 3.101743983883284, 2.202824749016007, 1.0209466323514325, 3.839280089507906, 7.365164006342272, 1.7624704121452213, 2.682820456759196, 2.858090753817307, 1.539843790281654, 2.309848328419853, 2.8861591835762406, 0.9466159926394537, 2.4786188622944927, 3.135491969437157, 4.492656874610179, 2.1398532787438844, 2.3939475262909884, 2.8967483701895254, 0.006265729108681839, 1.3708694542201636, 3.6938469356742187, 2.636588128122835, 3.3356862135002476, 4.0536497896330035, 1.6609708313472236, 3.2614407612465537, 1.7846291507216945, 2.4653938475686057, 3.366654977321073, 3.3889291394680647, 3.3683169124726593, 2.4196456469151766, 1.4412552018814178, 3.840230085261191, 3.059683002161174, 2.8102912247720275, 3.0247901688072187, 3.5144988691322867, 3.999270660150329, 3.7889572354059213, 4.215980423450214, 1.1497636010129693, 0.6761912705543276, 3.3872332465133606, 4.224245909165492, 6.580620297006723, 2.6218095340267165, 3.8731326775563524, 2.4844967866828984, 2.206148115318422, 2.656241281327814, 2.2193322219105593, 4.305789046460241, 1.5087894689305494, 2.7863116074565455, 3.888631723880181, 0.02602921822752169, 0.8755610923894284, 1.8652422646955371, 2.228026038894084, 0.9293199639887368]

In [1]:

import sys
sys.path.insert(1, '../py')
import choropleth_utils
import os
import numpy as np

s = choropleth_utils.s
eurasia_df = s.load_object('eurasia_df')
mask_series = eurasia_df.country_name.isnull()
one_country_df = eurasia_df[~mask_series].set_index('country_name', drop=True).rename(columns={'country_code': 'district_abbreviation'})
df = eurasia_df[~mask_series].set_index('country_code', drop=True)
c = choropleth_utils.ChoroplethUtilities(iso_3166_2_code='af', one_country_df=one_country_df, all_countries_df=df)
c.create_label_line_file()
string_column_name = 'state_equivalent_gdp'
colors_dict = s.load_object('eurasia_country_code_color_dict')
svg_file_path = c.create_country_labeled_map(string_column_name=string_column_name, one_country_df=one_country_df,
                                             colors_dict=colors_dict, colors_keyed_to_district_abbreviation=True)
print(os.path.abspath(svg_file_path))

C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\svg\AF_state_equivalent_gdp.svg

In [10]:

eurasia_df = s.load_object('eurasia_df')
mask_series = eurasia_df.country_name.isnull()
df = eurasia_df[~mask_series].set_index('country_name', drop=True).rename(columns={'country_code': 'district_abbreviation'})
numeric_column_name = 'state_equivalent_gdp'
svg_file_path = c.create_country_colored_map(numeric_column_name, one_country_df=df)
print(os.path.abspath(svg_file_path))

C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\svg\US_codes_state_equivalent.svg

In [19]:

import sys
sys.path.insert(1, '../py')
import choropleth_utils
import os
import numpy as np

s = choropleth_utils.s
eurasia_df = s.load_object('eurasia_df')
mask_series = eurasia_df.country_name.isnull()
one_country_df = eurasia_df[~mask_series].set_index('country_name', drop=True).rename(columns={'country_code': 'district_abbreviation'})
df = eurasia_df[~mask_series].set_index('country_code', drop=True)
c = choropleth_utils.ChoroplethUtilities(iso_3166_2_code='af', one_country_df=one_country_df, all_countries_df=df)
c.create_label_line_file()
string_column_name = 'state_equivalent_military_expenditure'
colors_dict = s.load_object('eurasia_country_code_color_dict')
svg_file_path = c.create_country_labeled_map(string_column_name=string_column_name, one_country_df=one_country_df,
                                             colors_dict=colors_dict, colors_keyed_to_district_abbreviation=True)
print(os.path.abspath(svg_file_path))

C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\svg\AF_state_equivalent_military_expenditure.svg

In [32]:

import sys
sys.path.insert(1, '../py')
import choropleth_utils
import os
import numpy as np

s = choropleth_utils.s
eurasia_df = s.load_object('eurasia_df')
mask_series = (eurasia_df.pwrindx_score < 100)
one_country_df = eurasia_df[mask_series].set_index('country_name', drop=True).rename(columns={'country_code': 'district_abbreviation'})
df = eurasia_df[mask_series].set_index('country_code', drop=True)
c = choropleth_utils.ChoroplethUtilities(iso_3166_2_code='af', one_country_df=one_country_df, all_countries_df=df)
c.create_label_line_file()
one_country_df['log_pwrindx_score'] = one_country_df.pwrindx_score.map(lambda x: 3 + math.log(x))
numeric_column_name = 'log_pwrindx_score'
string_column_name = 'wikipedia_title'
svg_file_path = c.create_country_colored_labeled_map(numeric_column_name=numeric_column_name,
                                                     string_column_name=string_column_name,
                                                     one_country_df=one_country_df, cmap='viridis_r')
print(os.path.abspath(svg_file_path))

C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\svg\AF_log_pwrindx_score_wikipedia_title.svg

In [43]:

import sys
sys.path.insert(1, '../py')
import choropleth_utils
import os
import numpy as np

s = choropleth_utils.s
all_countries_df = s.load_object('all_countries_df')
df = all_countries_df.set_index('country_code', drop=True)
us_stats_df = s.load_object('us_stats_df')
c = choropleth_utils.ChoroplethUtilities(iso_3166_2_code='us', one_country_df=us_stats_df, all_countries_df=df)

all_countries_df['log_pwrindx_score'] = all_countries_df.pwrindx_score.map(lambda x: 3 + math.log(x))
numeric_column_name = 'log_pwrindx_score'
string_column_name = 'wikipedia_title'
one_country_df = all_countries_df.set_index('country_name', drop=True).rename(columns={'country_code': 'district_abbreviation'})
svg_file_path = c.create_country_colored_labeled_map(numeric_column_name=numeric_column_name,
                                                     string_column_name=string_column_name,
                                                     one_country_df=one_country_df, cmap='viridis_r')
print(os.path.abspath(svg_file_path))

Exception: one_country_df needs to have the outline_d column


----

In [31]:

import webbrowser

eurasia_df = s.load_object('eurasia_df')
# color_names_dict = s.load_object('map_color_names_dict')
# mask_series = (eurasia_df.country_code == 'RU')
mask_series = eurasia_df.country_name.map(lambda x: 'Israel' in x)
# eurasia_df.loc[mask_series, 'country_color'] = color_names_dict['green']
eurasia_df.loc[mask_series, 'text_x'] = 520.17163
# eurasia_df.loc[mask_series, 'text_y'] = 398.41251
eurasia_df.loc[mask_series, 'font_size'] = 4
s.store_objects(eurasia_df=eurasia_df)
# wikipedia_url = eurasia_df.loc[mask_series, 'wikipedia_url'].squeeze()
# webbrowser.open(wikipedia_url, new=2)
columns_list = ['country_name', 'country_code', 'country_color', 'text_x', 'text_y', 'font_size', 'centroid_x',
                'centroid_y', 'label_line_d', 'outline_d']
eurasia_df[mask_series][columns_list].T.dropna()

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\eurasia_df.pickle

                                                              43
country_name                                              Israel
country_code                                                  IL
country_color                                            #fad5dc
text_x                                                 520.17163
text_y                                                502.707438
font_size                                                      4
centroid_x                                            522.171632
centroid_y                                            502.707438
outline_d      m 521.57707,519.65602 c -2.53052,-4.99156 -4.6...

In [2]:

# Adjust settings by country
eurasia_df = s.load_object('eurasia_df')
mask_series = (eurasia_df.country_code == 'DK')
# eurasia_df.loc[mask_series, 'text_x'] = 350.91922
# eurasia_df.loc[mask_series, 'text_y'] = 270.11383
# eurasia_df.loc[mask_series, 'font_size'] = 10
# eurasia_df.loc[mask_series, 'country_color'] = color_names_dict['green']
# s.store_objects(eurasia_df=eurasia_df)
columns_list = ['country_name', 'country_code', 'country_color', 'state_equivalent_gdp', 'text_x', 'text_y', 'font_size', 'centroid_x',
                'centroid_y', 'label_line_d', 'outline_d']
eurasia_df[mask_series][columns_list].T.dropna()

                                                                     26
country_name                                                    Denmark
country_code                                                         DK
country_color                                                   #fef9b7
state_equivalent_gdp                                           Missouri
text_x                                                        308.80527
text_y                                                         298.5538
font_size                                                            10
centroid_x                                                    304.80528
centroid_y                                                   286.553814
outline_d             m 292.25397,284.94792 c 1.04924,-1.4427 2.4456...

In [ ]:

# Surf to Wikipedia page for country
import webbrowser

eurasia_df = s.load_object('eurasia_df')
# mask_series = (eurasia_df.country_code == 'SE')
mask_series = eurasia_df.country_name.map(lambda x: 'Russia' in x)
# eurasia_df.loc[mask_series, 'text_x'] = xxxxx
# eurasia_df.loc[mask_series, 'text_y'] = xxxxxx
# eurasia_df.loc[mask_series, 'font_size'] = xxx
# s.store_objects(eurasia_df=eurasia_df)
wikipedia_url = eurasia_df.loc[mask_series, 'wikipedia_url'].squeeze()
webbrowser.open(wikipedia_url, new=2)
columns_list = ['country_name', 'country_code', 'state_equivalent_gdp', 'text_x', 'text_y', 'font_size', 'centroid_x',
                'centroid_y', 'label_line_d', 'outline_d']
eurasia_df[mask_series][columns_list].T.dropna()


----
# Create a state-equivalent States Color Dictionary

In [1]:

import sys
sys.path.insert(1, '../py')
import choropleth_utils
import os
import numpy as np

s = choropleth_utils.s
eurasia_df = s.load_object('eurasia_df')
mask_series = eurasia_df.country_name.isnull()
one_country_df = eurasia_df[~mask_series].set_index('country_name', drop=True).rename(columns={'country_code': 'district_abbreviation'})
df = eurasia_df[~mask_series].set_index('country_code', drop=True)
c = choropleth_utils.ChoroplethUtilities(iso_3166_2_code='af', one_country_df=one_country_df, all_countries_df=df)
string_column_name = 'state_equivalent_gdp'
mask_series = eurasia_df[string_column_name].isnull()
labels_list = eurasia_df[~mask_series][string_column_name].unique().tolist()
legend_xml, colors_dict = c.get_legend_xml(labels_list)
colors_dict

{'Vermont': '#1f77b4',
 'Alaska': '#ff7f0e',
 'Nebraska': '#2ca02c',
 'Montana': '#d62728',
 'New York': '#9467bd',
 'Virginia': '#8c564b',
 'New Mexico': '#e377c2',
 'Alabama': '#7f7f7f',
 'North Dakota': '#bcbd22',
 'Nevada': '#17becf',
 'California': '#1f77b4',
 'Tennessee': '#ff7f0e',
 'Florida': '#2ca02c',
 'Iowa': '#d62728',
 'Missouri': '#9467bd',
 'Ohio': '#8c564b',
 'Colorado': '#e377c2',
 'Texas': '#7f7f7f',
 'Illinois': '#bcbd22',
 'Michigan': '#17becf',
 'Maine': '#1f77b4',
 'South Carolina': '#ff7f0e',
 'Rhode Island': '#2ca02c',
 'Wyoming': '#d62728',
 'Arizona': '#9467bd',
 'Mississippi': '#8c564b',
 'Georgia': '#e377c2',
 'Arkansas': '#7f7f7f',
 'Oregon': '#bcbd22',
 'Delaware': '#17becf',
 'Connecticut': '#1f77b4',
 'Maryland': '#ff7f0e',
 'Washington': '#2ca02c'}


----
# Create Dictionary for Map Colors

In [42]:

color_names_dict = s.load_object('map_color_names_dict')
color_names_dict['yellow'] = '#fef9b7'
s.store_objects(map_color_names_dict=color_names_dict)
color_names_dict

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\map_color_names_dict.pickle

{'green': '#aad5aa',
 'purple': '#d5c9e1',
 'orange': '#f1c8b2',
 'pink': '#fad5dc',
 'yellow': '#fef9b7'}


----
# Correct any problems with the All Countries DataFrame

In [2]:

# Remove duplicates from all countries
all_countries_df = s.load_object('all_countries_df')
df = all_countries_df.reset_index()
mask_series = df.duplicated(subset=['country_name'], keep='first')
if df[mask_series].shape[0]:
    df = df.drop(index=df[mask_series].index)
    df = df.set_index('Country Code')
    s.store_objects(all_countries_df=df)

In [2]:

all_countries_df = s.load_object('all_countries_df')
mask_series = (all_countries_df.index == 'US')
all_countries_df.loc[mask_series, 'svg_width'] = 1030
s.store_objects(all_countries_df=all_countries_df)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\all_countries_df.pickle

In [41]:

# Add the country code column
all_countries_df = s.load_object('all_countries_df')
all_countries_df['country_code'] = all_countries_df.iso_3166_2.map(lambda x: x.split(':')[-1])
s.store_objects(all_countries_df=all_countries_df)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\all_countries_df.pickle


----
# Create the GDP DataFrames

In [66]:

%run ../load_magic/dataframes.py
import numpy as np

def get_country_gdps_dataframe():
    country_url = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)'
    table_dfs_list = get_wiki_tables(country_url, verbose=True)
    gdp_countries_df = table_dfs_list[0].copy()
    gdp_countries_df.columns = ['country_name', 'country_region', 'imf_estimate', 'imf_year', 'un_estimate', 'un_year', 'wb_estimate', 'wb_year']
    def f(x):
        b_list = str(x).split(']')
        float_str = b_list[-1]
        try:
            float_value = float(float_str)
        except ValueError as e:
            print(f'{type(e)} exception: {str(e).strip()}')
            float_value = np.nan

        return float_value
    for column_name in ['imf_estimate', 'imf_year', 'un_estimate', 'un_year', 'wb_estimate', 'wb_year']:
        gdp_countries_df[column_name] = gdp_countries_df[column_name].map(f)
    s.store_objects(gdp_countries_df=gdp_countries_df)
    
    return gdp_countries_df

In [67]:

gdp_countries_df = get_country_gdps_dataframe()
gdp_countries_df.sample(12).T

No tables found
[(0, (216, 8))]
Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\gdp_countries_df.pickle

,57,91,182,192,118,86,167,34,81,190,200,129
country_name,Algeria,Venezuela,Gambia,Antigua and Barbuda,Mali,Uruguay,Eswatini,Denmark,Lithuania,Guinea-Bissau,Sint Maarten,North Korea
country_region,Africa,Americas,Africa,Americas,Africa,Americas,Africa,Europe,Europe,Africa,Americas,Asia
imf_estimate,163812.0,44893.0,2042.0,1405.0,19563.0,60108.0,4517.0,396666.0,62635.0,1592.0,NaN,NaN
imf_year,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,2021.0,NaN,NaN
un_estimate,147689.0,106359.0,1830.0,1370.0,17332.0,53629.0,3835.0,356085.0,56547.0,1315.0,857.0,15847.0
un_year,2020.0,2020.0,2020.0,2020.0,2020.0,2020.0,2020.0,2020.0,2020.0,2020.0,2020.0,2020.0
wb_estimate,145164.0,482359.0,1902.0,1415.0,17394.0,53629.0,3962.0,355184.0,55887.0,1432.0,1185.0,NaN
wb_year,2020.0,2014.0,2020.0,2020.0,2020.0,2020.0,2020.0,2020.0,2020.0,2020.0,2018.0,NaN

In [68]:

import re

def get_state_gdps_dataframe():
    us_state_url = 'https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_GDP'
    table_dfs_list = get_wiki_tables(us_state_url, verbose=True)
    gdp_us_states_df = table_dfs_list[0].copy()
    gdp_us_states_df.columns = ['state_name', 'gdp_millions_usd_2021', 'gdp_millions_usd_2020', 'annual_change_usd',
                                'annual_change_percentage', 'real_gdp_growth_percentage', 'gdp_per_capita_2021', 'gdp_per_capita_2020',
                                'national_precentage_2021', 'national_precentage_2020']
    def f(x):
        float_str = re.sub(r'[^\d\.]+', '', str(x))
        try:
            float_value = float(float_str)
        except ValueError as e:
            # print(f'{type(e)} exception: {str(e).strip()}')
            float_value = np.nan

        return float_value
    for column_name in ['gdp_millions_usd_2021', 'gdp_millions_usd_2020', 'annual_change_usd', 'annual_change_percentage',
                        'real_gdp_growth_percentage', 'gdp_per_capita_2021', 'gdp_per_capita_2020', 'national_precentage_2021',
                        'national_precentage_2020']:
        gdp_us_states_df[column_name] = gdp_us_states_df[column_name].map(f)
    gdp_us_states_df.state_name = gdp_us_states_df.state_name.map(lambda x: str(x).split('*')[0].strip())
    gdp_us_states_df = gdp_us_states_df.drop([0, 52])
    s.store_objects(gdp_us_states_df=gdp_us_states_df)
    
    return gdp_us_states_df

In [69]:

gdp_us_states_df = get_state_gdps_dataframe()
gdp_us_states_df.sort_values('gdp_millions_usd_2021', ascending=False).head(12).T

[(0, (53, 10)), (1, (6, 7)), (6, (11, 2)), (4, (7, 2)), (3, (5, 2)), (5, (2, 2)), (2, (1, 1))]
Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\gdp_us_states_df.pickle

,1,2,3,4,5,6,7,8,9,10,11,12
state_name,California,Texas,New York,Florida,Illinois,Pennsylvania,Ohio,Georgia,New Jersey,Washington,North Carolina,Massachusetts
gdp_millions_usd_2021,3353473.0,2006662.0,1893670.0,1226956.0,956366.0,849818.0,745000.0,687680.0,686842.0,673169.0,659616.0,637424.0
gdp_millions_usd_2020,3189703.0,1818394.0,1778240.0,1121367.0,884447.0,808937.0,696274.0,631346.0,641666.0,625121.0,600631.0,600740.0
annual_change_usd,163770.0,188268.0,115430.0,105589.0,71919.0,40881.0,48726.0,56334.0,45176.0,48048.0,58985.0,36684.0
annual_change_percentage,1.49,3.37,1.13,2.69,2.83,1.51,2.49,3.58,1.27,4.15,3.16,1.86
real_gdp_growth_percentage,6.3,4.3,6.6,7.0,6.4,6.0,6.4,7.0,5.6,6.0,6.5,6.9
gdp_per_capita_2021,85460.0,67952.0,95447.0,56325.0,75462.0,65544.0,63230.0,63670.0,74112.0,86976.0,62505.0,91233.0
gdp_per_capita_2020,80727.0,62712.0,91459.0,52217.0,69800.0,63193.0,59566.0,59465.0,72243.0,82101.0,57268.0,86449.0
national_precentage_2021,14.77,8.41,8.12,5.23,4.12,3.73,3.22,2.96,2.96,2.96,2.8,2.79
national_precentage_2020,14.62,8.6,8.27,5.16,4.13,3.77,3.24,2.92,2.96,2.86,2.76,2.78


----

In [ ]:

eurasia_df = s.load_object('eurasia_df')

In [21]:

eurasia_df = eurasia_df.rename(columns={'{http://www.w3.org/XML/1998/namespace}space': 'namespace'})
s.store_objects(eurasia_df=eurasia_df)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\eurasia_df.pickle

In [15]:

mask_series = (column_descriptions_df.count_blanks == 0)
column_descriptions_df[mask_series].sort_values(['column_name'], ascending=True)

,column_name,dtype,count_blanks,count_uniques,count_zeroes,has_dates,min_value,max_value,only_integers
12,country_code,object,0,86,0,False,AE,rect5538,NaN
11,country_name,object,0,86,0,False,Afghanistan,rect5538,NaN
7,fr_country_name,object,0,86,0,False,Afghanistan,rect5538,NaN

In [24]:

column_descriptions_df = get_column_descriptions(merge_df)

In [27]:

us_stats_df = s.load_object('us_stats_df')
columns_list = ['text_x', 'text_y', 'label_line_d', 'outline_d', 'centroid_x', 'centroid_y']
us_stats_df[columns_list].sample(6).T

,Mississippi,Maryland,Ohio,South Dakota,Missouri,Virginia
text_x,697.75061,985.551025,784.07135,517.345764,639.569885,867.477539
text_y,422.31543,274.397949,224.190216,167.976044,289.037994,257.437042
label_line_d,NaN,"m 894.2228756234892,223.57596220248865 81.3915...",NaN,NaN,NaN,NaN
outline_d,"m 716.76,442.78427 -0.48531,0.0971 0,0.0971 0....","m 911.56569,238.27227 0.67944,-5.2414 -0.58238...","m 818.19096,206.6297 -2.42657,-10.48282 -0.485...","m 566.89455,135.57949 -16.40367,0.48532 -39.50...","m 653.66898,242.44599 -4.7561,-4.17372 -20.868...","m 908.75086,270.98255 0.29119,0 0.29118,-0.097..."
centroid_x,699.351252,894.222876,786.134818,517.73318,641.710763,863.779233
centroid_y,394.762367,223.575962,223.503239,166.845969,285.052516,263.674792

In [29]:

c = choropleth_utils.ChoroplethUtilities(iso_3166_2_code='us', one_country_df=us_stats_df)
print(['c.{}'.format(fn) for fn in dir(c) if 'map' in fn.lower()])

['c.create_country_colored_labeled_map', 'c.create_country_colored_map', 'c.create_country_labeled_map', 'c.create_us_google_suggest_labeled_map']

In [ ]:

choropleth_utils.ChoroplethUtilities?

Init signature:
choropleth_utils.ChoroplethUtilities(
    iso_3166_2_code=None,
    one_country_df=None,
    all_countries_df=None,
)
Docstring:
This class implements the core of the utility functions
needed to create SVG choropleths or labels of the United States.

A choropleth map is a type of thematic map in which areas are
shaded or patterned in proportion to a statistical variable that
represents an aggregate summary of a geographic characteristic
within each area.

A labeled map just contains a few words of text located at the
center of or with a line to the center of each district.

Examples
--------

%run ../load_magic/storage.py
s = Storage()
import sys
sys.path.insert(1, '../py')
import choropleth_utils

afghanistan_provinces_df = s.load_object('afghanistan_provinces_df')
c = choropleth_utils.ChoroplethUtilities(iso_3166_2_code='af', one_country_df=afghanistan_provinces_df)
File:           c:\users\daveb\onedrive\documents\github\statsbycountry\py\choropleth_utils.py
Type:           type
Subclasses:

In [23]:

# mask_series = merge_df.country_code.isnull()
merge_df.sample(4).dropna(axis='columns', how='all').T

,20,63,27,19
country_name,Finland,Pakistan,Hungary,Spain
year_code_established,1974,1974,1974,1974
cc_tld,.fi,.pk,.hu,.es
iso_3166_2,ISO 3166-2:FI,ISO 3166-2:PK,ISO 3166-2:HU,ISO 3166-2:ES
code_notes,NaN,NaN,NaN,Code taken from name in Spanish: EspaÃ±a
wikipedia_url,https://en.wikipedia.org/wiki/Finland,https://en.wikipedia.org/wiki/Pakistan,https://en.wikipedia.org/wiki/Hungary,https://en.wikipedia.org/wiki/Spain
wikipedia_title,Finland,Pakistan,Hungary,Spain
fr_country_name,Finlande,Pakistan,Hongrie,Espagne
outline_d,"m 121.349,47.430995 c -0.014,0.44 -0.571,1.061...","m 208.793,147.27799 c -0.8,-10e-4 -1.751,-0.42...","m 99.391,98.110995 c -0.755,0.28 -1.669,0.41 -...","m 38.009,106.99999 c -0.458,-0.506 0.609,-0.98..."
element_style,fill:#fdfcea;stroke:#656565;stroke-width:0.25;...,fill:#fdfcea;stroke:#656565;stroke-width:0.25;...,fill:#fdfcea;stroke:#656565;stroke-width:0.25;...,fill:#fdfcea;stroke:#656565;stroke-width:0.25;...
country_code,FI,PK,HU,ES
centroid_x,115.894779,211.679808,100.692846,49.583365
centroid_y,56.943908,133.630028,95.217937,110.343167

In [33]:

print(os.path.abspath(svg_file_path))

C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\svg\US_year_code_established.svg

In [36]:

print(all_countries_df.index.name)
print(all_countries_df.columns.tolist())

Country Code
['country_name', 'year_code_established', 'cc_tld', 'iso_3166_2', 'code_notes', 'wikipedia_url', 'wikipedia_title', 'intra_country_borders_d', 'svg_height', 'svg_width', 'inkscape_cx', 'inkscape_cy', 'inkscape_zoom', 'font_size', 'legend_transform']

In [37]:

all_countries_df = merge_df.rename(columns={'country_code': 'Country Code'}).set_index('Country Code', drop=True)
all_countries_df.svg_height = 237.46159
all_countries_df.svg_width = 484.19922

In [42]:

c = choropleth_utils.ChoroplethUtilities(iso_3166_2_code='af', all_countries_df=all_countries_df)
print(['c.{}'.format(fn) for fn in dir(c) if 'map' in fn.lower()])

['c.create_country_colored_labeled_map', 'c.create_country_colored_map', 'c.create_country_labeled_map', 'c.create_us_google_suggest_labeled_map']

In [43]:

numeric_column_name = 'year_code_established'
svg_file_path = c.create_country_colored_map(numeric_column_name, one_country_df=df)
print(os.path.abspath(svg_file_path))

C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\svg\AF_year_code_established.svg


----

In [134]:

# gdp_us_states_df = get_state_gdps_dataframe()
gdp_us_states_df.sort_values('gdp_millions_usd_2021', ascending=False).tail(12).T

,40,41,42,43,44,45,46,47,48,49,50,51
state_name,Idaho,Hawaii,West Virginia,Delaware,Maine,North Dakota,Rhode Island,South Dakota,Montana,Alaska,Wyoming,Vermont
gdp_millions_usd_2021,93785.0,92445.0,88242.0,81019.0,76045.0,66632.0,65348.0,61732.0,59129.0,55531.0,42536.0,36674.0
gdp_millions_usd_2020,85835.0,95364.0,76366.0,78309.0,68319.0,56417.0,61954.0,56072.0,53285.0,52864.0,38680.0,34017.0
annual_change_usd,7950.0,2919.0,11876.0,2710.0,7726.0,10215.0,3394.0,5660.0,5844.0,2667.0,3856.0,2657.0
annual_change_percentage,4.65,2.96,4.35,1.04,1.59,4.18,1.77,5.0,3.42,3.34,0.98,1.61
real_gdp_growth_percentage,5.9,4.5,8.2,5.6,5.2,7.6,7.2,6.4,7.2,5.4,5.1,6.1
gdp_per_capita_2021,49336.0,64084.0,49464.0,80585.0,55375.0,85765.0,59596.0,68719.0,53448.0,75707.0,73352.0,56693.0
gdp_per_capita_2020,48033.0,67395.0,42614.0,78924.0,50832.0,74032.0,58502.0,63382.0,49856.0,72263.0,66832.0,54515.0
national_precentage_2021,0.4,0.43,0.35,0.36,0.32,0.26,0.29,0.26,0.25,0.24,0.17,0.16
national_precentage_2020,0.39,0.45,0.37,0.36,0.32,0.27,0.29,0.26,0.25,0.25,0.19,0.16

In [141]:

df.state_name = pd.Categorical(df.state_name)
df['codes'] = df.state_name.cat.codes


----

In [16]:

all_countries_df.sample(4).dropna(axis='columns', how='all').T

Country Code,WS,ET,PR,NG
country_name,Samoa,Ethiopia,Puerto Rico,Nigeria
year_code_established,1974,1974,1974,1974
cc_tld,.ws,.et,.pr,.ng
iso_3166_2,ISO 3166-2:WS,ISO 3166-2:ET,ISO 3166-2:PR,ISO 3166-2:NG
code_notes,Code taken from former name: Western Samoa,NaN,NaN,NaN
wikipedia_url,https://en.wikipedia.org/wiki/Samoa,https://en.wikipedia.org/wiki/Ethiopia,https://en.wikipedia.org/wiki/Puerto_Rico,https://en.wikipedia.org/wiki/Nigeria
wikipedia_title,Samoa,Ethiopia,Puerto Rico,Nigeria

In [89]:

country_code_dict = {row_series.country_name: country_code for country_code, row_series in all_countries_df.iterrows()}

In [38]:

%run ../load_magic/lists.py
def get_country_name(x):
    en_name = str(x)
    if en_name in fr_en_dict:
        en_name = fr_en_dict[en_name]
    
    return en_name
en_names_list = all_countries_df.country_name.tolist()

In [82]:

file_path = r'C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\svg\Eurasia_location_map.svg'
eurasia_df = c.convert_svg_to_dataframe(file_path).rename(columns={'id': 'fr_country_name'})

In [84]:

' '.join([cn.replace('_', ' ') for cn in eurasia_df.fr_country_name.tolist()[4:]])

'Montenegro Slovenie Croatie Serbie Macedoine Bosnie Herzegovine Albanie Lituanie Estonie Lettonie Ukraine Bielorussie Moldavie Italie Pologne Slovaquie Rep Tcheque Hongrie Roumanie Bulgarie Grece Royaume Uni Irlande Islande Espagne Portugal Danemark Allemagne Suisse Autriche France Pays-Bas Belgique Luxembourg Suede Norvege Finlande Russie Turquie Georgie Syrie Jordanie Liban Israel Koweit Arabie Saoudite Emirats Arabes Unis Qatar Yemen Oman Irak Iran Armenie Kazakhstan Ouzbekistan Azerbaidjan Turkmenistan Tadjikistan Kirghizistan Afghanistan Pakistan Inde Sri Lanka Nepal Bhoutan Bangladesh Cambodge Birmanie Viet-Nam Malaisie Thailande Laos Brunei Indonesie Philippines Nouvelle Guinee Mongolie Chine Japon Taiwan Coree du Nord Coree de Sud'

In [86]:

fr_names_list = eurasia_df.fr_country_name.map(get_country_name).tolist()
typos_df = check_for_typos(fr_names_list, en_names_list, verbose=False)

In [87]:

mask_series = (typos_df.max_similarity < 1.0)
typos_df[mask_series]

  left_item right_item  max_similarity
0   Layer_1    Liberia        0.428571
1  defs3863   Maldives        0.375000
2     g3065       Togo        0.222222
3  rect5538     Greece        0.428571

In [90]:

eurasia_df['country_name'] = eurasia_df.fr_country_name.map(get_country_name)


----

In [13]:

# <svg height="432pt" version="1.1" viewBox="0 0 72 432" width="72pt" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
import xml.etree.ElementTree as et

file_path = '../saves/svg/colorbar.svg'
root = et.parse(file_path).getroot()
print(['root.{}'.format(fn) for fn in dir(root) if 'get' in fn.lower()])

['root.__getattribute__', 'root.__getitem__', 'root.__getstate__', 'root.get']

In [17]:

root.get('viewBox')

'0 0 72 432'

In [16]:

ElementTree_obj = et.parse(file_path)
print(['ElementTree_obj.{}'.format(fn) for fn in dir(ElementTree_obj) if 'get' in fn.lower()])

['ElementTree_obj.__getattribute__', 'ElementTree_obj.getroot']

In [10]:

print(['el.{}'.format(fn) for fn in dir(el) if not fn.startswith('_')])

['el.append', 'el.attrib', 'el.clear', 'el.extend', 'el.find', 'el.findall', 'el.findtext', 'el.get', 'el.insert', 'el.items', 'el.iter', 'el.iterfind', 'el.itertext', 'el.keys', 'el.makeelement', 'el.remove', 'el.set', 'el.tag', 'el.tail', 'el.text']

In [23]:

mask_series = eurasia_df['fr_country_name'].isna() | eurasia_df['d'].isna() | eurasia_df['style'].isna()
eurasia_df[~mask_series]

,version,width,height,viewBox,id,{http://www.w3.org/XML/1998/namespace}space,d,style
3,NaN,NaN,NaN,NaN,rect5538,NaN,"m 0,-5.1706152e-6 484.19922,0 L 484.19922,237....",fill:#c8eafb
4,NaN,NaN,NaN,NaN,Montenegro,NaN,"m 100.615,107.09499 c -0.586,-0.058 -0.646,-0....",fill:#fdfcea;stroke:#656565;stroke-width:0.25;...
5,NaN,NaN,NaN,NaN,Slovenie,NaN,"m 87.729,96.730995 c 0.551,-0.024 1.055,0.14 1...",fill:#fdfcea;stroke:#656565;stroke-width:0.25;...
6,NaN,NaN,NaN,NaN,Croatie,NaN,"m 96.572,104.70899 c -0.451,-0.285 -0.938,-0.5...",fill:#fdfcea;stroke:#656565;stroke-width:0.25;...
7,NaN,NaN,NaN,NaN,Serbie,NaN,"m 108.009,101.72499 c -0.28,0.418 -1.012,0.71 ...",fill:#fdfcea;stroke:#656565;stroke-width:0.25;...
...,...,...,...,...,...,...,...,...
81,NaN,NaN,NaN,NaN,Chine,NaN,"m 300.755,159.87299 c -0.58,-0.277 -1.166,-0.5...",fill:#fdfcea;stroke:#656565;stroke-width:0.25;...
82,NaN,NaN,NaN,NaN,Japon,NaN,"m 361.4,117.27399 c 0.394,-0.079 1.277,-0.626 ...",fill:#fdfcea;stroke:#656565;stroke-width:0.25;...
83,NaN,NaN,NaN,NaN,Taiwan,NaN,"m 325.628,151.36499 c -0.267,-0.415 -0.564,-0....",fill:#fdfcea;stroke:#656565;stroke-width:0.25;...
84,NaN,NaN,NaN,NaN,Coree_du_Nord,NaN,"m 342.343,114.45499 c -0.326,0.414 -0.707,1.00...",fill:#fdfcea;stroke:#656565;stroke-width:0.25;...
85,NaN,NaN,NaN,NaN,Coree_de_Sud,NaN,"m 338.311,116.39499 c 0.715,-0.354 0.979,-1.50...",fill:#fdfcea;stroke:#656565;stroke-width:0.25;...