----
# Navigate the XML to get the Group IDs

In [218]:

%pprint
import sys

# Insert at 1, 0 is the script path (or '' in REPL)
sys.path.insert(1, '../py')

from storage import Storage
from stats_scraping_utils import StatsScrapingUtilities

s = Storage()
ssu = StatsScrapingUtilities(s=s)
page_soup = ssu.get_page_soup(file_path, verbose=True)

Pretty printing has been turned OFF

In [227]:

group_tag_dict = {group_tag.find_next('title').text.strip(): group_tag.attrs['id'] for group_tag in page_soup.find_all('g')}
s.store_objects(country_group_id_dict=group_tag_dict)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\country_group_id_dict.pickle

In [239]:

group_tag_dict["Saint Martin (French part)"] = group_tag_dict.pop("Saint Martin (French Part)")
group_tag_dict["Korea (Democratic People's Republic of)"] = group_tag_dict.pop("Korea, Democratic People's Republic of")
group_tag_dict["Sint Maarten (Dutch part)"] = group_tag_dict.pop("Sint Maarten (Dutch Part)")
group_tag_dict["Venezuela (Bolivarian Republic of)"] = group_tag_dict.pop("Venezuela, Bolivarian Republic of")
group_tag_dict["Bolivia (Plurinational State of)"] = group_tag_dict.pop("Bolivia, Plurinational State of")
group_tag_dict["Micronesia (Federated States of)"] = group_tag_dict.pop("Micronesia, Federated States of")
group_tag_dict["Iran (Islamic Republic of)"] = group_tag_dict.pop("Iran, Islamic Republic of")
group_tag_dict["Virgin Islands (British)"] = group_tag_dict.pop("Virgin Islands, British")
group_tag_dict["Virgin Islands (U.S.)"] = group_tag_dict.pop("Virgin Islands, U.S.")
group_tag_dict["Côte d'Ivoire"] = group_tag_dict.pop("Cote d'Ivoire")
group_tag_dict["Falkland Islands (Malvinas)"] = group_tag_dict.pop("Falkland Islands (Islas Malvinas)")
group_tag_dict["North Macedonia"] = group_tag_dict.pop("North Macedonia, Republic of")
group_tag_dict["Pitcairn"] = group_tag_dict.pop("Pitcairn Islands")
group_tag_dict["Seychelles"] = group_tag_dict.pop("Seychelles, Republic of")
group_tag_dict["Svalbard and Jan Mayen"] = group_tag_dict.pop("Svalbard")
group_tag_dict["Brunei Darussalam"] = group_tag_dict.pop("Brunei")
group_tag_dict["United Kingdom of Great Britain and Northern Ireland"] = group_tag_dict.pop("United Kingdom")
s.store_objects(country_group_id_dict=group_tag_dict)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\country_group_id_dict.pickle

In [242]:

group_tag_dict["Somalia"] = group_tag_dict.pop("Somaliland")
group_tag_dict["Congo, Democratic Republic of the"] = group_tag_dict.pop("Congo, Republic of the")
group_tag_dict["Marshall Islands"] = group_tag_dict.pop("Marshall Islands, Republic of the")
group_tag_dict["Palestine, State of"] = group_tag_dict.pop("State of Palestine")
s.store_objects(country_group_id_dict=group_tag_dict)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\country_group_id_dict.pickle

In [245]:

group_tag_dict["Viet Nam"] = group_tag_dict.pop("Vietnam, Socialist Republic of")
s.store_objects(country_group_id_dict=group_tag_dict)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\country_group_id_dict.pickle

In [249]:

group_tag_dict["Taiwan, Province of China"] = group_tag_dict.pop("Taiwan")
s.store_objects(country_group_id_dict=group_tag_dict)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\country_group_id_dict.pickle

In [251]:

country_stats_df = s.load_object('country_stats_df')
[cn for cn in country_stats_df.columns]

['country_name', 'year_code_established', 'cc_tld', 'iso_3166_2', 'code_notes', 'pwrindx_rank', 'short_form_name', 'pwrindx_score']

In [252]:

%run ../load_magic/lists.py

typos_df = check_for_typos(country_stats_df.country_name, group_tag_dict.keys(), verbose=False)
mask_series = (typos_df.max_similarity < 1.)
for i, r in typos_df[mask_series].sort_values(['max_similarity', 'left_item', 'right_item'], ascending=[False, True, True]).iterrows():
    print(f'''group_tag_dict["{r.left_item}"] = group_tag_dict.pop("{r.right_item}")''')

group_tag_dict["Cabo Verde"] = group_tag_dict.pop("Cape Verde")
group_tag_dict["Åland Islands"] = group_tag_dict.pop("Cayman Islands")
group_tag_dict["Bouvet Island"] = group_tag_dict.pop("Faroe Islands")
group_tag_dict["Congo"] = group_tag_dict.pop("Togo")
group_tag_dict["Czechia"] = group_tag_dict.pop("China")
group_tag_dict["Maldives"] = group_tag_dict.pop("Mali")
group_tag_dict["United States Minor Outlying Islands"] = group_tag_dict.pop("United States of America")
group_tag_dict["Holy See"] = group_tag_dict.pop("Sweden")

In [253]:

group_tag_dict["Cabo Verde"] = group_tag_dict.pop("Cape Verde")
s.store_objects(country_group_id_dict=group_tag_dict)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\country_group_id_dict.pickle

In [ ]:

mask_series = (gdp_countries_df.country_name == "Ivory Coast")
gdp_countries_df.loc[mask_series, 'country_name'] = "Côte d'Ivoire"

In [254]:

typos_df = check_for_typos(group_tag_dict.keys(), country_stats_df.country_name, verbose=False)
mask_series = (typos_df.max_similarity < 1.)
for i, r in typos_df[mask_series].sort_values(['max_similarity', 'right_item', 'left_item'], ascending=[False, True, True]).iterrows():
    print(f'''group_tag_dict["{r.right_item}"] = group_tag_dict.pop("{r.left_item}")''')

group_tag_dict["Moldova, Republic of"] = group_tag_dict.pop("Maldives, Republic of")
group_tag_dict["Korea, Republic of"] = group_tag_dict.pop("Artsakh, Republic of")
group_tag_dict["Northern Mariana Islands"] = group_tag_dict.pop("Southern Kuril Islands")
group_tag_dict["Lao People's Democratic Republic"] = group_tag_dict.pop("Luhansk People's Republic")
group_tag_dict["Lao People's Democratic Republic"] = group_tag_dict.pop("Sahrawi Arab Democratic Republic")
group_tag_dict["Albania"] = group_tag_dict.pop("Abkhazia")
group_tag_dict["Korea (Democratic People's Republic of)"] = group_tag_dict.pop("China, People's Republic of")
group_tag_dict["Lao People's Democratic Republic"] = group_tag_dict.pop("Donetsk People's Republic")
group_tag_dict["South Africa"] = group_tag_dict.pop("South Ossetia")
group_tag_dict["Central African Republic"] = group_tag_dict.pop("Czech Republic")
group_tag_dict["Tunisia"] = group_tag_dict.pop("Transnistria")
group_tag_dict["Armenia"] = group_tag_dict.pop("Crimea")
group_tag_dict["Cyprus"] = group_tag_dict.pop("Northern Cyprus")
group_tag_dict["Eswatini"] = group_tag_dict.pop("Vatican City")
group_tag_dict["Lesotho"] = group_tag_dict.pop("Kosovo")
group_tag_dict["Antigua and Barbuda"] = group_tag_dict.pop("Azad Jammu and Kashmir")
group_tag_dict["Gibraltar"] = group_tag_dict.pop("Gaza Strip")

In [265]:

%run ../load_magic/lists.py

keyword = 'Island'
typos_df = check_for_typos([cn for cn in country_stats_df.country_name if keyword in cn],
                           [cn for cn in group_tag_dict.keys() if keyword in cn], verbose=False)
mask_series = (typos_df.max_similarity < 1.)
for i, r in typos_df[mask_series].sort_values(['max_similarity', 'left_item', 'right_item'], ascending=[False, True, True]).iterrows():
    print(f'''group_tag_dict["{r.left_item}"] = group_tag_dict.pop("{r.right_item}")''')

group_tag_dict["Åland Islands"] = group_tag_dict.pop("Cayman Islands")
group_tag_dict["Bouvet Island"] = group_tag_dict.pop("Faroe Islands")
group_tag_dict["United States Minor Outlying Islands"] = group_tag_dict.pop("Cocos (Keeling) Islands")

In [272]:

sd_set = set(group_tag_dict.keys()).symmetric_difference(set(country_stats_df.country_name))
typos_df = check_for_typos(list(set(country_stats_df.country_name).intersection(sd_set)),
                           list(set(group_tag_dict.keys()).intersection(sd_set)), verbose=False)
for i, r in typos_df.sort_values(['max_similarity', 'left_item', 'right_item'], ascending=[False, True, True]).iterrows():
    print(f'''group_tag_dict["{r.left_item}"] = group_tag_dict.pop("{r.right_item}")''')

group_tag_dict["Bouvet Island"] = group_tag_dict.pop("Southern Kuril Islands")
group_tag_dict["Åland Islands"] = group_tag_dict.pop("Southern Kuril Islands")
group_tag_dict["United States Minor Outlying Islands"] = group_tag_dict.pop("Southern Kuril Islands")
group_tag_dict["Congo"] = group_tag_dict.pop("Kosovo")
group_tag_dict["Holy See"] = group_tag_dict.pop("South Ossetia")

In [270]:

group_tag_dict["Czechia"] = group_tag_dict.pop("Czech Republic")
s.store_objects(country_group_id_dict=group_tag_dict)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\country_group_id_dict.pickle

In [271]:

group_tag_dict["Maldives"] = group_tag_dict.pop("Maldives, Republic of")
s.store_objects(country_group_id_dict=group_tag_dict)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pickle\country_group_id_dict.pickle

In [25]:

%run ../load_magic/storage.py
import os

s = Storage()
print(['s.{}'.format(fn) for fn in dir(s) if not fn.startswith('_')])

['s.attempt_to_pickle', 's.csv_exists', 's.data_csv_folder', 's.data_folder', 's.encoding_type', 's.load_csv', 's.load_dataframes', 's.load_object', 's.pickle_exists', 's.save_dataframes', 's.saves_csv_folder', 's.saves_folder', 's.saves_pickle_folder', 's.store_objects']

In [26]:

pickle_name_list = []
for sub_directory, directories_list, files_list in os.walk(s.saves_pickle_folder):
    for file_name in files_list:
        if file_name.endswith('_df.pkl'):
            pickle_name = file_name.split('.')[0]
            eval_str = f"s.load_object('{pickle_name}')"
            df = eval(eval_str)
            if 'outline_d' in df.columns:
                print(eval_str, df.shape)
                pickle_name_list.append(pickle_name)

s.load_object('eurasia_df') (82, 63)
s.load_object('state_merge_df') (51, 73)
s.load_object('us_stats_df') (51, 90)

In [29]:

rows_list = []
for sub_directory, directories_list, files_list in os.walk(s.saves_pickle_folder):
    if '.ipynb_checkpoints' not in sub_directory:
        for file_name in files_list:
            if file_name.endswith('_df.pkl'):
                pickle_name = file_name.split('.')[0]
                eval_str = f"s.load_object('{pickle_name}', verbose=False)"
                try:
                    df = eval(eval_str)
                    if 'country_name' in df.columns:
                        print(eval_str, df.shape)
                        row_dict = {}
                        row_dict['pickle_name'] = pickle_name
                        row_dict['country_count'] = df.shape[0]
                        row_dict['feature_count'] = df.shape[1]
                        rows_list.append(row_dict)
                except Exception as e:
                    print(f'{eval_str} gets an {e.__class__.__name__} error: {str(e).strip()}')
                    continue
pickles_df = pd.DataFrame(rows_list)

s.load_object('all_countries_df', verbose=False) (248, 19)
s.load_object('country_stats_df', verbose=False) (249, 8)
s.load_object('eurasia_df', verbose=False) (82, 63)
s.load_object('firepower_df', verbose=False) (142, 4)
s.load_object('gdp_countries_df', verbose=False) (216, 8)
s.load_object('military_expenditures_df', verbose=False) (141, 3)

In [ ]:

max_country_count = pickles_df.country_count.max()
mask_series = (pickles_df.country_count == max_country_count)
master_pickle_name = pickles_df[mask_series].pickle_name.squeeze()
exec_str = f"{master_pickle_name} = s.load_object('{master_pickle_name}')"
exec(exec_str)
mask_series = (pickles_df.pickle_name != master_pickle_name)
for i, r in pickles_df[mask_series].iterrows():
    exec_str = f"{r.pickle_name} = s.load_object('{r.pickle_name}')"
    exec(exec_str)

In [ ]:

%run ../load_magic/lists.py

mask_series = (pickles_df.pickle_name != master_pickle_name)
for row_index, row_series in pickles_df[mask_series].iterrows():
    left_set = eval(f'set({master_pickle_name}.country_name)')
    right_set = eval(f'set({row_series.pickle_name}.country_name)')
    sd_set = left_set.symmetric_difference(right_set)
    left_list = list(left_set.intersection(sd_set))
    if left_list:
        right_list = list(right_set.intersection(sd_set))
        if right_list:
            typos_df = check_for_typos(left_list, right_list, verbose=False)
            mask_series = (typos_df.max_similarity > 0.0)
            if typos_df[mask_series].shape[0]:
                df = typos_df[mask_series].sort_values(['max_similarity', 'left_item', 'right_item'], ascending=[False, True, True])
                for i, r in df.iterrows():
                    print(f'''
mask_series = ({row_series.pickle_name}.country_name == "{r.right_item}")
{row_series.pickle_name}.loc[mask_series, 'country_name'] = "{r.left_item}"''')
                display(df.rename(columns={'left_item': master_pickle_name, 'right_item': row_series.pickle_name}))

In [69]:

mask_series = (firepower_df.country_name == "Democratic Republic of the Congo")
firepower_df.loc[mask_series, 'country_name'] = "Congo, Democratic Republic of the"

mask_series = (firepower_df.country_name == "United States")
firepower_df.loc[mask_series, 'country_name'] = "United States of America"

mask_series = (firepower_df.country_name == "Ivory Coast")
firepower_df.loc[mask_series, 'country_name'] = "Côte d'Ivoire"

mask_series = (gdp_countries_df.country_name == "São Tomé and Príncipe")
gdp_countries_df.loc[mask_series, 'country_name'] = "Sao Tome and Principe"

mask_series = (gdp_countries_df.country_name == "Cape Verde")
gdp_countries_df.loc[mask_series, 'country_name'] = "Cabo Verde"

mask_series = (gdp_countries_df.country_name == "Macau")
gdp_countries_df.loc[mask_series, 'country_name'] = "Macao"

mask_series = (gdp_countries_df.country_name == "Vietnam")
gdp_countries_df.loc[mask_series, 'country_name'] = "Viet Nam"

mask_series = (gdp_countries_df.country_name == "United States")
gdp_countries_df.loc[mask_series, 'country_name'] = "United States of America"

mask_series = (gdp_countries_df.country_name == "Sint Maarten")
gdp_countries_df.loc[mask_series, 'country_name'] = "Sint Maarten (Dutch part)"

mask_series = (gdp_countries_df.country_name == "Palestine")
gdp_countries_df.loc[mask_series, 'country_name'] = "Palestine, State of"

mask_series = (gdp_countries_df.country_name == "British Virgin Islands")
gdp_countries_df.loc[mask_series, 'country_name'] = "Virgin Islands (British)"

mask_series = (gdp_countries_df.country_name == "Czech Republic")
gdp_countries_df.loc[mask_series, 'country_name'] = "Czechia"

mask_series = (gdp_countries_df.country_name == "Brunei")
gdp_countries_df.loc[mask_series, 'country_name'] = "Brunei Darussalam"

mask_series = (gdp_countries_df.country_name == "Russia")
gdp_countries_df.loc[mask_series, 'country_name'] = "Russian Federation"

mask_series = (gdp_countries_df.country_name == "East Timor")
gdp_countries_df.loc[mask_series, 'country_name'] = "Timor-Leste"

mask_series = (gdp_countries_df.country_name == "United Kingdom")
gdp_countries_df.loc[mask_series, 'country_name'] = "United Kingdom of Great Britain and Northern Ireland"

mask_series = (gdp_countries_df.country_name == "Venezuela")
gdp_countries_df.loc[mask_series, 'country_name'] = "Venezuela (Bolivarian Republic of)"

mask_series = (gdp_countries_df.country_name == "Bolivia")
gdp_countries_df.loc[mask_series, 'country_name'] = "Bolivia (Plurinational State of)"

mask_series = (military_expenditures_df.country_name == "DR Congo")
military_expenditures_df.loc[mask_series, 'country_name'] = "Congo, Democratic Republic of the"

mask_series = (military_expenditures_df.country_name == "United States")
military_expenditures_df.loc[mask_series, 'country_name'] = "United States of America"

mask_series = (military_expenditures_df.country_name == "Republic of the Congo")
military_expenditures_df.loc[mask_series, 'country_name'] = "Congo"

mask_series = (military_expenditures_df.country_name == "Venezuela")
military_expenditures_df.loc[mask_series, 'country_name'] = "Venezuela (Bolivarian Republic of)"

mask_series = (military_expenditures_df.country_name == "Bolivia")
military_expenditures_df.loc[mask_series, 'country_name'] = "Bolivia (Plurinational State of)"

mask_series = (military_expenditures_df.country_name == "Ivory Coast")
military_expenditures_df.loc[mask_series, 'country_name'] = "Côte d'Ivoire"

In [72]:

mask_series = (firepower_df.country_name == "Tanzania")
firepower_df.loc[mask_series, 'country_name'] = "Tanzania, United Republic of"

mask_series = (firepower_df.country_name == "Venezuela")
firepower_df.loc[mask_series, 'country_name'] = "Venezuela (Bolivarian Republic of)"

mask_series = (firepower_df.country_name == "Republic of the Congo")
firepower_df.loc[mask_series, 'country_name'] = "Congo"

mask_series = (firepower_df.country_name == "Bolivia")
firepower_df.loc[mask_series, 'country_name'] = "Bolivia (Plurinational State of)"

mask_series = (gdp_countries_df.country_name == "Moldova")
gdp_countries_df.loc[mask_series, 'country_name'] = "Moldova, Republic of"

mask_series = (gdp_countries_df.country_name == "Micronesia")
gdp_countries_df.loc[mask_series, 'country_name'] = "Micronesia (Federated States of)"

mask_series = (gdp_countries_df.country_name == "Tanzania")
gdp_countries_df.loc[mask_series, 'country_name'] = "Tanzania, United Republic of"

mask_series = (gdp_countries_df.country_name == "Syria")
gdp_countries_df.loc[mask_series, 'country_name'] = "Syrian Arab Republic"

mask_series = (gdp_countries_df.country_name == "Taiwan")
gdp_countries_df.loc[mask_series, 'country_name'] = "Taiwan, Province of China"

mask_series = (gdp_countries_df.country_name == "South Korea")
gdp_countries_df.loc[mask_series, 'country_name'] = "Korea, Republic of"

mask_series = (gdp_countries_df.country_name == "Iran")
gdp_countries_df.loc[mask_series, 'country_name'] = "Iran (Islamic Republic of)"

mask_series = (gdp_countries_df.country_name == "DR Congo")
gdp_countries_df.loc[mask_series, 'country_name'] = "Congo, Democratic Republic of the"

mask_series = (gdp_countries_df.country_name == "Laos")
gdp_countries_df.loc[mask_series, 'country_name'] = "Lao People's Democratic Republic"

mask_series = (gdp_countries_df.country_name == "North Korea")
gdp_countries_df.loc[mask_series, 'country_name'] = "Korea (Democratic People's Republic of)"

mask_series = (military_expenditures_df.country_name == "Tanzania")
military_expenditures_df.loc[mask_series, 'country_name'] = "Tanzania, United Republic of"

In [81]:

mask_series = (pickles_df.pickle_name != master_pickle_name)
for i, r in pickles_df[mask_series].iterrows():
    print()
    eval_str = f"""
{master_pickle_name}.merge({r.pickle_name}, on=list(set({master_pickle_name}.columns).intersection(set({r.pickle_name}.columns))), how='left')"""
    print(eval_str)
    merge_df = eval(eval_str)
    print(merge_df.shape)
    display(merge_df.sample(3).dropna(axis='columns', how='any').T)

country_stats_df.merge(all_countries_df, on=list(set(country_stats_df.columns).intersection(set(all_countries_df.columns))), how='left')
(249, 19)

,145,48,161
country_name,Myanmar,Colombia,Niger
year_code_established,1989,1974,1974
cc_tld,.mm,.co,.ne
iso_3166_2,ISO 3166-2:MM,ISO 3166-2:CO,ISO 3166-2:NE
pwrindx_rank,39.0,44.0,106.0
short_form_name,MYA,COL,NGR
pwrindx_score,0.5972,0.6438,2.5998
wikipedia_url,https://en.wikipedia.org/wiki/Myanmar,https://en.wikipedia.org/wiki/Colombia,https://en.wikipedia.org/wiki/Niger
wikipedia_title,Myanmar,Colombia,Niger
country_code,MM,CO,NE

country_stats_df.merge(eurasia_df, on=list(set(country_stats_df.columns).intersection(set(eurasia_df.columns))), how='left')
(249, 63)

                                 110            20             233
country_name                  Jersey   Burkina Faso        Uruguay
year_code_established           2006           1984           1974
cc_tld                           .je            .bf            .uy
iso_3166_2             ISO 3166-2:JE  ISO 3166-2:BF  ISO 3166-2:UY

country_stats_df.merge(firepower_df, on=list(set(country_stats_df.columns).intersection(set(firepower_df.columns))), how='left')
(249, 8)

                                        211            115            35
country_name           Syrian Arab Republic     Kyrgyzstan        Belarus
year_code_established                  1974           1992           1974
cc_tld                                  .sy            .kg            .by
iso_3166_2                    ISO 3166-2:SY  ISO 3166-2:KG  ISO 3166-2:BY
pwrindx_rank                           47.0           90.0           52.0
short_form_name                         SYR            KYR            BLR
pwrindx_score                        0.6953         2.2011         0.8124

country_stats_df.merge(gdp_countries_df, on=list(set(country_stats_df.columns).intersection(set(gdp_countries_df.columns))), how='left')
(249, 15)

                                             210            35             64
country_name           Sint Maarten (Dutch part)        Belarus          Egypt
year_code_established                       2010           1974           1974
cc_tld                                       .sx            .by            .eg
iso_3166_2                         ISO 3166-2:SX  ISO 3166-2:BY  ISO 3166-2:EG
country_region                          Americas         Europe         Africa
un_estimate                                857.0        60259.0       369309.0
un_year                                   2020.0         2020.0         2020.0
wb_estimate                               1185.0        60258.0       363069.0
wb_year                                   2018.0         2020.0         2020.0

country_stats_df.merge(military_expenditures_df, on=list(set(country_stats_df.columns).intersection(set(military_expenditures_df.columns))), how='left')
(249, 10)

                                 100            59             186
country_name               Indonesia       Dominica          Qatar
year_code_established           1974           1974           1974
cc_tld                           .id            .dm            .qa
iso_3166_2             ISO 3166-2:ID  ISO 3166-2:DM  ISO 3166-2:QA

In [82]:

print()
eval_str = f'{master_pickle_name}.copy()'
print(eval_str)
merge_df = eval(eval_str)
print(merge_df.shape)
display(merge_df.sample(3).dropna(axis='columns', how='any').T)
mask_series = (pickles_df.pickle_name != master_pickle_name)
for i, r in pickles_df[mask_series].iterrows():
    print()
    eval_str = f"""
merge_df.merge({r.pickle_name}, on=list(set(merge_df.columns).intersection(set({r.pickle_name}.columns))), how='left')"""
    print(eval_str)
    merge_df = eval(eval_str)
    print(merge_df.shape)
    display(merge_df.sample(3).dropna(axis='columns', how='any').T)

country_stats_df.copy()
(249, 8)

                                 84               143            199
country_name                  Gambia  North Macedonia       Slovenia
year_code_established           1974             1993           1992
cc_tld                           .gm              .mk            .si
iso_3166_2             ISO 3166-2:GM    ISO 3166-2:MK  ISO 3166-2:SI

merge_df.merge(all_countries_df, on=list(set(merge_df.columns).intersection(set(all_countries_df.columns))), how='left')
(249, 19)

,2,144,7
country_name,Afghanistan,Mali,Angola
year_code_established,1974,1974,1974
cc_tld,.af,.ml,.ao
iso_3166_2,ISO 3166-2:AF,ISO 3166-2:ML,ISO 3166-2:AO
pwrindx_rank,118.0,99.0,66.0
short_form_name,AFG,MAL,ANG
pwrindx_score,3.3736,2.3829,1.0931
wikipedia_url,https://en.wikipedia.org/wiki/Afghanistan,https://en.wikipedia.org/wiki/Mali,https://en.wikipedia.org/wiki/Angola
wikipedia_title,Afghanistan,Mali,Angola
country_code,AF,ML,AO

merge_df.merge(eurasia_df, on=list(set(merge_df.columns).intersection(set(eurasia_df.columns))), how='left')
(249, 63)

,81,209,18
country_name,Ghana,El Salvador,Bangladesh
year_code_established,1974,1974,1974
cc_tld,.gh,.sv,.bd
iso_3166_2,ISO 3166-2:GH,ISO 3166-2:SV,ISO 3166-2:BD
pwrindx_rank,95.0,127.0,46.0
short_form_name,GHA,ESL,BNG
pwrindx_score,2.3098,4.3558,0.6851
wikipedia_url,https://en.wikipedia.org/wiki/Ghana,https://en.wikipedia.org/wiki/El_Salvador,https://en.wikipedia.org/wiki/Bangladesh
wikipedia_title,Ghana,El Salvador,Bangladesh
country_code,GH,SV,BD

merge_df.merge(firepower_df, on=list(set(merge_df.columns).intersection(set(firepower_df.columns))), how='left')
(249, 63)

,148,66,82
country_name,Northern Mariana Islands,Eritrea,Gibraltar
year_code_established,1986,1993,1974
cc_tld,.mp,.er,.gi
iso_3166_2,ISO 3166-2:MP,ISO 3166-2:ER,ISO 3166-2:GI
wikipedia_url,https://en.wikipedia.org/wiki/Northern_Mariana...,https://en.wikipedia.org/wiki/Eritrea,https://en.wikipedia.org/wiki/Gibraltar
wikipedia_title,Northern Mariana Islands,Eritrea,Gibraltar
country_code,MP,ER,GI

merge_df.merge(gdp_countries_df, on=list(set(merge_df.columns).intersection(set(gdp_countries_df.columns))), how='left')
(249, 63)

,219,145,140
country_name,Tokelau,Myanmar,Saint Martin (French part)
year_code_established,1974,1989,2007
cc_tld,.tk,.mm,.mf
iso_3166_2,ISO 3166-2:TK,ISO 3166-2:MM,ISO 3166-2:MF
wikipedia_url,https://en.wikipedia.org/wiki/Tokelau,https://en.wikipedia.org/wiki/Myanmar,https://en.wikipedia.org/wiki/Collectivity_of_...
wikipedia_title,Tokelau,Myanmar,Collectivity of Saint Martin
country_code,TK,MM,MF

merge_df.merge(military_expenditures_df, on=list(set(merge_df.columns).intersection(set(military_expenditures_df.columns))), how='left')
(249, 64)

,80,199,225
country_name,Guernsey,Slovenia,Trinidad and Tobago
year_code_established,2006,1992,1974
cc_tld,.gg,.si,.tt
iso_3166_2,ISO 3166-2:GG,ISO 3166-2:SI,ISO 3166-2:TT
wikipedia_url,https://en.wikipedia.org/wiki/Guernsey,https://en.wikipedia.org/wiki/Slovenia,https://en.wikipedia.org/wiki/Trinidad_and_Tobago
wikipedia_title,Guernsey,Slovenia,Trinidad and Tobago
country_code,GG,SI,TT

In [83]:

s.store_objects(country_stats_df=merge_df)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pkl\country_stats_df.pkl

In [281]:

import numpy as np

group_tag_dict = s.load_object('country_group_id_dict')
country_stats_df['group_id'] = country_stats_df.country_name.map(lambda x: group_tag_dict.get(x, np.nan))
s.store_objects(country_stats_df=country_stats_df)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pkl\country_stats_df.pkl

In [296]:

columns_list = ['country_name', 'cc_tld', 'iso_3166_2', 'code_notes', 'pwrindx_rank', 'short_form_name',
                'pwrindx_score', 'wikipedia_url', 'wikipedia_title', 'country_code', 'country_region',
                'imf_estimate', 'imf_year', 'un_estimate', 'un_year', 'wb_estimate', 'wb_year', 'fr_country_name',
                'state_equivalent_gdp', 'text_x', 'text_y', 'label_line_d', 'centroid_x', 'centroid_y', 'colorbar_transform',
                'country_color', 'military_spending_usd_2021', 'population_2022', 'state_equivalent_military_expenditure',
                'spending_usd_2021', 'group_id']
country_stats_df = country_stats_df[columns_list]
s.store_objects(country_stats_df=country_stats_df)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pkl\country_stats_df.pkl

In [300]:

mask_series = country_stats_df.group_id.isnull()
print(country_stats_df[mask_series].shape[0])
df = country_stats_df[mask_series].sample(min(3, country_stats_df[mask_series].shape[0]))
# columns_list = list(set(df.dropna(axis='columns', how='all').columns).add(''))
df.dropna(axis='columns', how='all').T

3

,33,14,231
country_name,Bouvet Island,Åland Islands,United States Minor Outlying Islands
cc_tld,.bv,.ax,NaN
iso_3166_2,ISO 3166-2:BV,ISO 3166-2:AX,ISO 3166-2:UM
code_notes,Belongs to Norway,An autonomous province of Finland,Consists of nine minor insular areas of the Un...
wikipedia_url,https://en.wikipedia.org/wiki/Bouvet_Island,https://en.wikipedia.org/wiki/%C3%85land_Islands,https://en.wikipedia.org/wiki/United_States_Mi...
wikipedia_title,Bouvet Island,Åland Islands,United States Minor Outlying Islands
country_code,BV,AX,UM

In [299]:

country_stats_df.loc[235, 'group_id'] = 'va'
country_stats_df.loc[41, 'group_id'] = 'cg'
country_stats_df.loc[39, 'group_id'] = 'cd'
s.store_objects(country_stats_df=country_stats_df)

Pickling to C:\Users\daveb\OneDrive\Documents\GitHub\StatsByCountry\saves\pkl\country_stats_df.pkl

In [301]:

mask_series = country_stats_df.group_id.isin(['va'])
print(country_stats_df[mask_series].shape[0])
df = country_stats_df[mask_series].sample(min(3, country_stats_df[mask_series].shape[0]))
# columns_list = list(set(df.dropna(axis='columns', how='all').columns).add('group_id'))
df.dropna(axis='columns', how='all').T

1

                                                               235
country_name                                              Holy See
cc_tld                                                         .va
iso_3166_2                                           ISO 3166-2:VA
code_notes       Covers Vatican City, territory of the Holy See...
wikipedia_url           https://en.wikipedia.org/wiki/Vatican_City
wikipedia_title                                       Vatican City
country_code                                                    VA
group_id                                                        va